.App {
  background-color: #E6F8E0;
}

body {
  background-color: #E6F8E0!important;
  
}
.body{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;

}
/* header */

.header-left {
  width: 55%;
/* border: red 1px solid; */
display: inline-block;
}

.header-right {
  width: 45%;
  /* border: blue 1px solid; */
  display: inline-block;
  vertical-align: -moz-middle-with-baseline;

}


@font-face {
font-family: "AdirekLightItalic";
src: local("AdirekLightItalic"),
 url("./asset/fonts/Adirek/Adirek\ Serif\ Light\ Italic.ttf") format("truetype");
font-weight: light;
}

@font-face {
font-family: "Adirek";
src: local("Adirek"),
 url("./asset/fonts/Adirek/Adirek\ Serif\ Regular.ttf") format("truetype");
font-weight: normal;
}

@font-face {
font-family: "AdirekMedium";
src: local("AdirekSerifMedium"),
 url("./asset/fonts/Adirek/Adirek\ Serif\ Medium.ttf") format("truetype");
font-weight: normal;
}

@font-face {
font-family: "AdirekBold";
src: local("AdirekBold"),
 url("./asset/fonts/Adirek/Adirek\ Serif\ Bold.ttf") format("truetype");
font-weight: bold;
}

@font-face {
font-family: "AdirekSemiBold";
src: local("AdirekSemiBold"),
 url("./asset/fonts/Adirek/Adirek\ Serif\ SemiBold.ttf") format("truetype");
font-weight: bold;
}

.logo {
  /* position: flex; */
  /* height: 20vmin;   */
  width: 100%;
  cursor: pointer;
}


.logoslogan{
  width: 100%;
  display: inline-block;
  
}

.container-logo{
  width: 25%;
  display: inline-block;
}
.slogan-container{
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  
}
.slogan {
  display: inline-block;
  box-sizing: content-box;
  /* margin: 20% 0 0 -10%; */
  color: #000;
  font-family: "AdirekLightItalic";
  font-size: 30px;
  cursor: pointer;
}

.logoName{
  box-sizing: content-box;
  font-family: "AdirekBold";
  font-size: 60px;
  text-transform: uppercase;
  cursor: pointer;
  /* margin: -7% 0 0 -10%; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #E6F8E0;
  width: 100%;
  /* min-height: 100vh; */
  display: inline-block;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #000;
}

.slogan

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Contenair */


.connexion-contenair{
  /* position: absolute; */
  box-sizing: content-box;
  margin: -1% -1% -1% -1%;
  /* right: 5%; */
  /* border: purple 1px solid; */
  display: inline-block;
  width: 100%;
  /* flex-wrap: wrap; */
}

.inscription-contenair{
  width: 100%;
  display: inline-block;
  /* border : red 1px solid; */
  
}

.spacer-inscription{
  width: 40%;
}


.carousel-contenair{
  margin-top: 5%;
  /* border: red 1px solid; */
  padding-bottom: 2%;
  /* padding: 20%; */
  /* margin-top: 20%;
  margin-bottom: 20%; */
}

.sign-up-form-contenair{
  width: 100%;

display: flex;
justify-content: center;
}

.form-connexion-contenair{
  width: 100%;
}
.password-forgot-container {
  width: 100%;
}

/* Input */

.connexion-input {
  /* background-color: white; */
  border: none;
  border-radius: 5px;
  /* margin-right: 10px; */
  /* margin-top: 11%; */
  width: 192px;
  max-height: 32px;
  padding-left: 10px;
  display: inline-block;
  /* padding-top: 1%; */
}

.connexion-input::placeholder {
  font-family: "inter";
  font-size: 18px;
  color: gray;
}

.mantine-gqmpge{
  height: 32px;
  max-height: 32px;
}

.inscription-input{
  width: 100%;
  height: 57px;
  padding-bottom: 13%;
  /* padding-bottom: 20%; */
}

.email-connexion-input{
  width: 30%;
}

.password-connexion-input{
  width: 30%;
}




/* Boutons */

.button-inscription{
  width: 100%;
  background-color: #5B712C;
}

.connexion {
  align-items: center;
  background-color: #5B712C;
  border: none;
  border-radius: 5px;
  width: 37%;
  height: 35px;
  margin-left:3%;
  padding-top: 0.8%;
  margin-bottom: 10px;
  font-family: "inter";
  /* font-size: 18px; */
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: center;
}


.sign-up {
  align-items: center;
  border: #5B712C 1px solid;
  border-radius: 5px;
  width: 591px;
  height: 59px;
  background-color: transparent;
  margin-top: -3%;
}

.sign-up-text {
  font-family: "inter";
  font-size: 18px;
  font-weight: bold;
  color: #5B712C;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1%;
}
.mantine-1dgn3jq:checked {
  background-color: #5B712C;
  border-color: #5B712C;
}

.mantine-InputWrapper-error {
  text-align: end;
}
.sign-up:hover{
  background-color: #5B712C;
  color: #E6F8E0;
}
.plain-button-no-hover:hover{
  background-color: #5B712C;
  border: gray 1px solid;
}
.connexion:hover{
  /* background-color: #E6F8E0;
  color: #5B712C; */
  background-color: #5B712C;
  border: gray 1px solid;
}

.password-forgot{
  /* margin-top: -28%; */
  /* position: absolute; */
  width: 30%;
  border: none;
  background-color: transparent;
  color: #5B712C;
  font-family: 'AdirekLightItalic';
  font-weight: 200;
}
.password-forgot:hover{
  background-color: transparent;
}

.text-transparent{
  color:#E6F8E0;
}

/* Images */

.slide {
  /* max-height: 400px; */
  max-width: 600px;
  
}

.slide-legend {
  padding: 2%;
  color: #5B712C;
  font-family: "inter";
  /* border: #000 1px solid; */
  padding-bottom: 10px;
}

/* Textes */

.sign-up-form-text{
  font-family: "AdirekSemiBold";
  font-size: 46px;
  color: #000;
  width: 10%;
}

.password-forgot-span{
  width: 70%;
  display: inline-block;
}

.error_api_text{
  color: red;
} 

.hidden{
  visibility: hidden;
}

.welcome-header-box{
  display: inline-flex;
  font-family: "inter";
  font-weight: bold;
  padding-bottom: 10px;
}

.header-profil-picture{
  width: 70%;
  border: 1px solid black;
  border-radius: 50%;
  float: right;
}

.welcome-header-text{
  width: 80%;
  font-size: 20px;
  align-self: flex-end;
  text-align: right;
}

.welcome-picture-box{
  width: 20%;
  
}