.App {
  background-color: #E6F8E0;
}

body {
  background-color: #E6F8E0!important;
}


@font-face {
font-family: "AdirekLightItalic";
src: local("AdirekLightItalic"),
 url("./asset/fonts/Adirek/Adirek\ Serif\ Light\ Italic.ttf") format("truetype");
font-weight: light;
}

@font-face {
font-family: "AdirekMedium";
src: local("AdirekSerifMedium"),
 url("./asset/fonts/Adirek/Adirek\ Serif\ Medium.ttf") format("truetype");
font-weight: normal;
}

@font-face {
font-family: "AdirekBold";
src: local("Adirek"),
 url("./asset/fonts/Adirek/Adirek\ Serif\ Bold.ttf") format("truetype");
font-weight: bold;
}

.logo {
  position: flex;
  height: 20vmin;  
}

.slogan {
  box-sizing: content-box;
  margin: 20% 0 0 -10%;
  color: #000;
  font-family: "AdirekLightItalic";
  font-size: 30px;
}

.logoName{
  box-sizing: content-box;
  font-family: "AdirekBold";
  font-size: 60px;
  text-transform: uppercase;
  margin: -7% 0 0 -10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #E6F8E0;
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #000;
}

.slogan

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Contenair */


.connexion-contenair{
  position: absolute;
  box-sizing: content-box;
  margin: -1% -1% -1% -1%;
  right: 5%;
  /* border: purple 1px solid; */
  display: flex;
  width: 600px;
  flex-wrap: wrap;
}

.inscription-contenair{
  margin-top: 2%;
  
}

.carousel-contenair{
  margin-top: 5%;
  /* border: red 1px solid; */
  padding-bottom: 2%;
  /* padding: 20%; */
  /* margin-top: 20%;
  margin-bottom: 20%; */
}

/* Input */

.connexion-input {
  /* background-color: white; */
  border: none;
  border-radius: 5px;
  /* margin-right: 10px; */
  margin-top: 11%;
  width: 192px;
  max-height: 32px;
  padding-left: 10px;
  /* padding-top: 1%; */
}

.connexion-input::placeholder {
  font-family: "inter";
  font-size: 18px;
  color: gray;
}

.mantine-gqmpge{
  height: 32px;
  max-height: 32px;
}



/* Boutons */

.connexion {
  align-items: center;
  background-color: #5B712C;
  border: none;
  border-radius: 5px;
  width: 192px;
  height: 35px;
  margin-top: -10%;
  margin-left:10px;
  padding-top: 0.8%;
  font-family: "inter";
  /* font-size: 18px; */
  font-size: large;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: center;
}


.sign-up {
  align-items: center;
  border: #5B712C 1px solid;
  border-radius: 5px;
  width: 591px;
  height: 59px;
  background-color: transparent;
  margin-top: -3%;
}

.sign-up-text {
  font-family: "inter";
  font-size: 18px;
  font-weight: bold;
  color: #5B712C;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1%;
}

.sign-up:hover{
  background-color: #5B712C;
  color: #E6F8E0;
}

.connexion:hover{
  /* background-color: #E6F8E0;
  color: #5B712C; */
  background-color: #5B712C;
  border: gray 1px solid;
}

.password-forgot{
  margin-top: -28%;
  position: absolute;
  border: none;
  background-color: transparent;
  color: #5B712C;
  font-family: 'AdirekLightItalic';
  font-weight: 200;
}
.password-forgot:hover{
  background-color: transparent;
}

.text-transparent{
  color:#E6F8E0;
}

/* Images */

.slide {
  /* max-height: 400px; */
  max-width: 600px;
  
}

.slide-legend {
  padding: 2%;
  color: #5B712C;
  font-family: "inter";
  /* border: #000 1px solid; */
  padding-bottom: 10px;
}